# output dir
output*
instant_test_output
inference_test_output

*.pth
*.jpg
*.png
*.txt
*.json
*.diff
*.csv

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
StomaDet.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

# project dirs
/detectron2/model_zoo/configs
/datasets
/projects/*/datasets
/models
/debug
/tools/tmp
/tmp

.DS_Store/
.DS_Store
